{% include 'admin-layout.html' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <h1 class="h3 text-gray-800 ml-3">Exercises</h1>
        <p class="mb-4 ml-3">Simple techniques to calm down and focus on the present</a></p>
        
        <div class="row w-100 m-3">
        
            <div class="col-md-8 col-12 card" data-bs-toggle="modal" data-bs-target="#exercises">

                <div class="m-5 h-100 align-items-center">
                    <div class="h3 text-dark">Have you been feeling stressed or anxious lately?</div>
                    <div> Click to try these simple grounding exercises. </div>
                </div>
            </div>

            <div class="col-md-4 col-12 card">
                <img src="/static/img/meditating_lady.gif" class="img-fluid">
            </div>


        </div>

        <div class="row w-100 m-3">
        
            <div class="col-md-4 col-12 card">
                <img src="/static/img/at_home.gif" class="img-fluid">
            </div>


            <div class="col-md-8 col-12 card" data-bs-toggle="modal" data-bs-target="#thingsToDo">

                <div class="m-5 h-100 align-items-center">
                    <div class="h3 text-dark">Activities to lift your mood</div>
                    <div> Click to see more </div>
                </div>

            </div>

        </div>

        <div class="modal fade m-2" id="thingsToDo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
        
                <div class="modal-body" >
        
                  <div class="text-center mb-3 display-4 text-dark">
                    <h2>Activites</h2>
                  </div>
                  
                  <hr>

                  <div class="entry p-2">
                      <div class="heading h5 text-dark">1. Play some music</div>
                      <div class="description">Music can affect your brain in the same way chocolate does. And when you sing along your brain makes natural painkillers that can give your mood a boost.</div>
                  </div>

                  <div class="entry p-2">
                    <div class="heading h5 text-dark">2. Drink water</div>
                    <div class="description">When your body needs water, you can feel tired or cranky. It may even affect your mental sharpness. If you’re not excited about drinking a glass of water, you can get it from food: fruits and vegetables are good sources.</div>
                </div>

                <div class="entry p-2">
                    <div class="heading h5 text-dark">3. Go Outside</div>
                    <div class="description">Not only can it lift your mood, but it also can be good for your blood pressure, heart rate, muscle tension, and stress level</div>
                </div>

                <div class="entry p-2">
                    <div class="heading h5 text-dark">4. Talk to a Friend  </div>
                    <div class="description">When you are feeling stuck in a negative mindset, sometimes just spending a few minutes chatting or texting with a good friend is enough to put you in a better state of mind</div>
                </div>
                

                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                  </div>

              </div>
        
            </div>
          </div>
        </div>

        <div class="modal fade m-2" id="exercises" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
        
                <div class="modal-body" >
        
                  <div class="text-center mb-3 display-4 text-dark">
                    <h2>Grounding exercises</h2>
                  </div>
                  
                  <hr>

                  <div class="entry p-2">
                      <div class="heading h5 text-dark">1. Pick up and touch items near you</div>
                      <div class="description">Are these items soft or hard? Heavy or light? Warm or cool? Focus on the texture and color of each item.</div>
                  </div>

                  <div class="entry p-2">
                    <div class="heading h5 text-dark">2. Put your hands in water</div>
                    <div class="description">Focus on the water’s temperature and how it feels on your fingertips, palms, and the backs of your hands</div>
                </div>

                <div class="entry p-2">
                    <div class="heading h5 text-dark">3. Feel your body</div>
                    <div class="description">Focus on how your body feels from head to toe, noticing each part. Can you feel your heartbeat? Is it rapid or steady? Does your stomach feel full, or are you hungry? Are your legs crossed, or are your feet resting on the floor?</div>
                </div>

                <div class="entry p-2">
                    <div class="heading h5 text-dark">4. Breathe deeply </div>
                    <div class="description">Slowly inhale, then exhale. If it helps, you can say or think “in” and “out” with each breath. Feel each breath filling your lungs and note how it feels to push it back out.</div>
                </div>
                

                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                  </div>

              </div>
        
            </div>
          </div>
        </div>


    </div>



    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
        <span>MindPal - 2021</span>
        </div>
    </div>
    </footer>
    <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</body>
<title> Exercises </title>
</html>