{% include 'admin-layout.html' %}
<!-- {{ ckeditor.load() }} -->
{{ ckeditor.config(name='content') }}
 {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Current Streak</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">7 days</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Maximum Streak</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">10 days</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Number of Trusted Users</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">6</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            
          </div>

          <!-- Content Row -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold text-primary">Tell us about your day!</h6>
            </a>
            <!-- Card Content - Collapse -->
              <form class = "user" method="POST">
                  <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                          {{ ckeditor.create() }}

                      <!-- <textarea name ="content" id="content"></textarea> -->
                      <button type="submit"  id="button" class="btn btn-primary btn-user btn-block">Add post</button>
                    </div>
                  </div>
              </form>
          </div>
          <div class="row">
            <!-- Area Chart -->
             <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4"> 
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 ">
                  <h6 class="m-0 font-weight-bold text-primary">Your previous entries</h6>
                </div> 
                <!-- Card Body -->
                <div class="card-body">
                  {% block content %}
                  {% for post,dates in posts|zip(dates) %}
                  <div class="chart-area">
                    
                    <!-- <canvas id="myAreaChart"></canvas> -->            
                    <div class="card-header align-items-left">
                      <h6 class=" font-weight-bold text-primary">{{dates}}</h6>
                    </div> 
                    <!-- Card Body -->
                    <div class="card-body">
                      <!-- <div class="chart-pie pt-4 pb-2"> -->
                        <iframe srcdoc="{{post[0]}}" style="width:100%"></iframe>
                    </div>
                  </div>
                  {% endfor %}
                    {% endblock %}
                </div>
                
              </div> 
            </div> 

          </div>

          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Muse - 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>
  <!-- <script src="../static/texteditor.js"></script> -->
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <!-- Page level plugins -->
  <!-- <script src="static/vendor/chart.js/Chart.min.js"></script> -->
  <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

  <!-- Page level custom scripts -->
  <!-- <script src="static/js/demo/chart-area-demo.js"></script> -->
  <!-- <script src="static/js/demo/chart-pie-demo.js"></script> -->
  
</body>

</html>
