{% include 'admin-layout.html' %}
<!-- {{ ckeditor.load() }} -->
{{ ckeditor.config(name='content') }}
 {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
 
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="row justify-content-between w-100">
              <h1 class="h3 mb-0 text-gray-800">Journal Entries</h1>
              <div class="btn col-3" data-bs-toggle="modal" data-bs-target="#prompts" style="background:#fff1ed;color:#df4e61;"><h6 class="font-weight-bold">Prompts</h6></div>
            </div>
          </div>


          <!-- Content Row -->
          <div class="card shadow mb-4 ">
            <!-- Card Header - Accordion -->
            <div class="card-header py-3 m-0 row">
              <div class="col-9"><h6 class="m-0 font-weight-bold text-primary">Tell us about your day!</h6></div>
              <div class="col text-right"><a href="#addPost" data-bs-toggle="collapse" role="button" aria-expanded="true"><i class="fas fa-angle-down"></i></a></div>
            </div>

            <form class="user collapse show" method="POST" action="/addPost" id="addPost">
              <div class="card-body">

                {{ ckeditor.create() }}
                {{ ckeditor.config(height=300) }}

                <button id="SubmitPostButton" class="btn btn-primary btn-user btn-block mt-2" name ="journal_entry">Add post</button>
              </div>
            </form>

          </div>

          <div class="card shadow mb-4" >

                <!-- Card Header - Dropdown -->
                <div href="#Posts" class="card-header py-3  m-0 row">
                    <div class="col-9"><h6 class="m-0 font-weight-bold text-primary">Your Previous Entries!</h6></div>
                    <div class="col text-right"><a href="#Posts"data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="Posts"><i class="fas fa-angle-down"></i></a></div>
                </div>

                <!-- Card Body -->
                <div class="card-body collapse show mb-2 row m-0" id="Posts" style="background-color: #edf1f5;"> 


                    {% block content %}
                    {% for post,dates in posts|zip(dates) %}

                    <a class="px-0 col-md-4 col-sm-6 p-3 mb-2 animated--grow-in"  data-bs-toggle="modal" data-bs-target="#post{{loop.index}}">
                      <div class="bg-white shadow" style="border-radius: 10px;" data-bs-toggle="tooltip" data-bs-html="true" title="Click to edit">
                        <div class=" m-2 py-2">
                          <div class="p-1 border-left-primary">
                            <h6 class="font-weight-bold "> &nbsp;&nbsp;&nbsp;{{dates}} </h6>
                          </div>
                          <h6 class="content p-3 o-hidden" style="height: 150px;">{{post | safe | truncate(200) }}</h6>
                        </div>
                        <!-- <div class="text-right mr-2" data-bs-toggle="tooltip" data-bs-html="true" title="Click to Edit"><h5><i class="fas fa-pencil-alt"></i></h5></div> -->
                      </div>
                    </a>

                    <div class="modal fade m-2" id="post{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                          
                          <div class="modal-body">

                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{dates}}</h5>
                              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="updateMessages()">
                                <span aria-hidden="true">&times;</span>
                              </button> -->
                            </div>
                              {% if allow_edits[loop.index-1]%}
                                <div contenteditable="true" class="p-3 m-2" id="{{loop.index}}">{{posts[loop.index-1] | safe }}</div>
                              {% endif %}

                              {% if not allow_edits[loop.index-1]%}
                                <div class="p-3 m-2" id="{{loop.index}}">{{posts[loop.index-1] | safe }}</div>
                              {% endif %}


                          
                          <div class="modal-footer">

                            
                            {% if allow_edits[loop.index-1]%}
                              <div class="message_saving d-none text-warning"> Saving Changes.</div>
                              <div class="message_saved  d-none text-success"> Changes saved!</div>
                            {% endif %}

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="updateMessages()">Close</button>

                            {% if allow_edits[loop.index-1]%}
                              <button type="button" class="btn btn-primary" onclick="updatePosts({{loop.index}})">Save changes</button>
                              <button type="button" class="btn btn-danger" onclick="deletePost({{loop.index}})">Delete</button>
                            {% endif %}
                            
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                      {% endfor %}
                        {% endblock %}
                </div>
          </div>
        </div>
        

        </div>
        <!-- /.container-fluid -->


      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>MindPal - 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->



<div class="modal fade m-2" id="prompts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body" >

          <div class="text-center mb-3" style="font-size: 1.25rem">
            <h2>Untangle your thoughts</h2>
          </div>

          <div class="row justify-content-around" style="font-size: 1.25rem">
            <div class="col-5 btn m-2 font-weight-bold" data-dismiss="modal" style="background:#fff1ed;color:#df4e61;" onclick="addPrompts(0)">Self Reflection</div>
            <div class="col-5 btn m-2 font-weight-bold" data-dismiss="modal" style="background:#fff1ed;color:#df4e61;" onclick="addPrompts(1)">Gratitude</div>
          </div>

          <div class="row justify-content-around" style="font-size: 1.25rem">
            <div class="col-5 btn m-2 font-weight-bold" data-dismiss="modal" style="background:#fff1ed;color:#df4e61;" onclick="addPrompts(2)">Anxiety</div>
            <div class="col-5 btn m-2 font-weight-bold" data-dismiss="modal" style="background:#fff1ed;color:#df4e61;" onclick="addPrompts(3)">Self Love</div>
          </div>

          <div class="xs p-2 text-center">Click on any of the above buttons to get 3 randomly generated prompts for those topics</div>

      </div>

    </div>
  </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script>
    

    var HttpClient = function() {

      this.get = function(aUrl, aCallback) {

          var anHttpRequest = new XMLHttpRequest();
          anHttpRequest.onreadystatechange = function() { 
              if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                  aCallback(anHttpRequest.responseText);
          }

          anHttpRequest.open( "GET", aUrl, true );            
          anHttpRequest.send( null );
      }
    }

    function updatePosts(index) {    
      
      $('.message_saving').removeClass('d-none')

      var client = new HttpClient();
      var content = $('#'+index)[0].innerHTML
      client.get('/updatePosts?id='+index+'&content='+content, function(response) {
          console.log(response)
      });

      $('.message_saving').addClass('d-none')
      $('.message_saved').removeClass('d-none')

    }

    function deletePost(index) {    

      var client = new HttpClient();
      var content = $('#'+index)[0].innerHTML
      client.get('/deletePost?id='+index, function(response) {
          console.log(response)
          window.location.reload();
      });


    }

    function updateMessages(){

      $('.message_saving').addClass('d-none')
      $('.message_saved').addClass('d-none')

    }

    // Prompts code

    self_reflection = [
        'My favorite way to spend the day is ?', 
        'I feel most energized when ? ', 
        'I feel happiest in my skin when ? ', 
        'What makes you feel calm and in control? ', 
        'Make a list of 5 things that make you smile. ', 
        'Make a list of everything that inspires you. ', 
        'What’s one topic you need to learn more about to help you live a more fulfilling life? ', 
        'What’s a goal you want to accomplish and why?'
    ];

    gratitude = [
        'What’s something that you’re looking forward to?',
        'What’s a simple pleasure that you’re grateful for?',
        'Write about something you are grateful for at work. ',
        'Write about someone you are grateful for in personal life. ',
        'Remember a success you had and write a thank-you speech describing who helped you reach it. ',
        'Describe your favorite person and list all of that person’s good qualities.',
        'Write about something someone else did that made you happy.' ,
        'Describe your favourite hobby',
        'Look around the room and write about everything you see that you’re grateful for.',
        'Write about 3 things you’re grateful for today. '
    ];

    anxiety = [
        'Finish the sentence "Right now, I am ..", then finish the sentence "I want to be .." .',
        'If something is making you anxious, what triggered it?',
        'What am I holding onto that I need to release?',
        'Choose one problem that has been causing you anxiety lately, and ask yourself questions about it, like a friend. Ask supportive and encouraging questions, and answer them with complete honesty',
        'What is working perfectly in my life right now, despite any adversity I may be facing',
        'What are some things I look forward to',
        'What would it look like to resolve the issues I’m facing? How would I act, think and feel'
      ];
    
    self_love = [
        'Write down three of your greatest strengths. Give actions, behaviours and accomplishments.',
        'List three things or people you are grateful for in your life.',
        'Dream about your perfect day. Describe what you would do, who you would be with, and what it would feel like.',
        'Talk about a recent win and how it shows a positive quality or characteristic that you have.',
        'Think of a recent challenge you were faced with and how you persisted despite the outcome.',
        'Think about your meaningful relationships. Write about how they have impacted you as well as how you have affected them.',
        'Write about qualities that make you unique',
        'What is your ideal future? Include skills and attributes to places and people'
    ];
    

    function addPrompts(index){

      arr = self_love

      if(index == 0)
        arr = self_reflection
      else if(index == 1)
        arr = gratitude
      else if (index == 2)
        arr = anxiety

      size = arr.length
      prev = [-1,-1];

      for(var i=0;i<3;i++){
        x = Math.floor((Math.random() * size));
        if( (i>0 && x == prev[i-1]) || (i>1 && x == prev[i-2])){
          i--;
          continue;
        }
        prev[i] = x
        CKEDITOR.instances['ckeditor'].insertHtml(arr[x] + "<br/> <br/>");
      }
      
    }

  </script>


  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
  
</body>

</html>