{% include 'admin-layout.html' %}
<!-- {{ ckeditor.load() }} -->
{{ ckeditor.config(name='content') }}
 {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
 
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Journal Entries</h1>
          </div>


          <!-- Content Row -->
          <div class="card shadow mb-4 ">
            <!-- Card Header - Accordion -->
            <div href="#addPost" class="card-header py-3 m-0 row">
              <div class="col-9"><h6 class="m-0 font-weight-bold text-primary">Tell us about your day!</h6></div>
              <!-- <div class="btn align-self-end col-sm-auto mr-2" data-bs-toggle="modal" data-bs-target="#prompts" style="background:#fff1ed;color:#df4e61;"><h6 class="font-weight-bold">Prompts</h6></div> -->
              <div class="col text-right"><a href="#addPost"data-bs-toggle="collapse" role="button" aria-expanded="true"><i class="fas fa-angle-down"></i></a></div>
            </div>

                  <form class="user" method="POST" action="/addPost">
                    <div class="card-body">

                      {{ ckeditor.create() }}
                      {{ ckeditor.config(height=300) }}

                      <button id="SubmitPostButton" class="btn btn-primary btn-user btn-block mt-2" name ="journal_entry">Add post</button>
                    </div>
                  </form>
              </form>

          </div>

          <div class="card shadow mb-4" >

                <!-- Card Header - Dropdown -->
                <div href="#Posts" class="card-header py-3  m-0 row">
                    <div class="col-9"><h6 class="m-0 font-weight-bold text-primary">Your Previous Entries!</h6></div>
                    <div class="col text-right"><a href="#Posts"data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="Posts"><i class="fas fa-angle-down"></i></a></div>
                </div>

                <!-- Card Body -->
                <div class="card-body collapse show mb-2 row m-0" id="Posts" style="background-color: #edf1f5;"> 


                    {% block content %}
                    {% for post,dates in posts|zip(dates) %}

                    <a class="px-0 col-md-4 col-sm-6 p-3 mb-2"  data-bs-toggle="modal" data-bs-target="#post{{loop.index}}">
                      <div class="bg-white shadow" style="border-radius: 10px;" data-bs-toggle="tooltip" data-bs-html="true" title="Click to edit">
                        <div class=" m-2 py-2">
                          <div class="p-1 border-left-primary">
                            <h6 class="font-weight-bold "> &nbsp;&nbsp;&nbsp;{{dates}} </h6>
                          </div>
                          <h6 class="content p-3 o-hidden" style="height: 150px;">{{post | safe | truncate(200) }}</h6>
                        </div>
                        <!-- <div class="text-right mr-2" data-bs-toggle="tooltip" data-bs-html="true" title="Click to Edit"><h5><i class="fas fa-pencil-alt"></i></h5></div> -->
                      </div>
                    </a>

                    <div class="modal fade m-2" id="post{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                          
                          <div class="modal-body">

                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{dates}}</h5>
                              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="updateMessages()">
                                <span aria-hidden="true">&times;</span>
                              </button> -->
                            </div>
                              {% if allow_edits[loop.index-1]%}
                                <div contenteditable="true" class="p-3 m-2" id="{{loop.index}}">{{posts[loop.index-1] | safe }}</div>
                              {% endif %}

                              {% if not allow_edits[loop.index-1]%}
                                <div class="p-3 m-2" id="{{loop.index}}">{{posts[loop.index-1] | safe }}</div>
                              {% endif %}


                          
                          <div class="modal-footer">

                            
                            {% if allow_edits[loop.index-1]%}
                              <div class="message_saving d-none text-warning"> Saving Changes.</div>
                              <div class="message_saved  d-none text-success"> Changes saved!</div>
                            {% endif %}

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="updateMessages()">Close</button>

                            {% if allow_edits[loop.index-1]%}
                              <button type="button" class="btn btn-primary" onclick="updatePosts({{loop.index}})">Save changes</button>
                              <button type="button" class="btn btn-danger" onclick="deletePost({{loop.index}})">Delete</button>
                            {% endif %}
                            
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                      {% endfor %}
                        {% endblock %}
                </div>
          </div>
        </div>
        

        </div>
        <!-- /.container-fluid -->


      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Muse - 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->



<div class="modal fade m-2" id="prompts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body" style="font-size: 1.25rem">

          <div class="text-center mb-3">
            <h2>Untangle your thoughts</h2>
          </div>

          <div class="row justify-content-around">
            <div class="col-5 btn m-2 font-weight-bold" data-bs-toggle="modal" data-bs-target="#self_reflection" style="background:#fff1ed;color:#df4e61;">Self Reflection</div>
            <div class="col-5 btn m-2 font-weight-bold" data-bs-toggle="modal" data-bs-target="#gratitude" style="background:#fff1ed;color:#df4e61;">Gratitude</div>
          </div>

          <div class="row justify-content-around">
            <div class="col-5 btn m-2 font-weight-bold" data-bs-toggle="modal" data-bs-target="#anxiety" style="background:#fff1ed;color:#df4e61;">Anxiety</div>
            <div class="col-5 btn m-2 font-weight-bold" data-bs-toggle="modal" data-bs-target="#self_love" style="background:#fff1ed;color:#df4e61;">Self Love</div>
          </div>

          <!-- <div class="row">
            <div class="col-4 btn m-2 font-weight-bold" data-toggle="modal" data-target="#random" style="background:#fff1ed;color:#df4e61;">Random</div>
          </div> -->
      </div>

    </div>
  </div>


  <div class="modal fade m-2" id="self_reflection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Self Reflection</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-2" style="font-size: 1.10rem">
          <div class=" self_reflection_content">
        1. My favorite way to spend the day is ? <br>
        2. I feel most energized when ? <br>
        3. I feel happiest in my skin when ? <br>
        4. What makes you feel calm and in control? <br>
        5. Make a list of 5 things that make you smile. <br>
        6. Make a list of everything that inspires you. <br>
        7. What’s one topic you need to learn more about to help you live a more fulfilling life? <br>
        8. What's a goal you want to accomplish and why? <br><br>
        <!-- 9. How can you celebrate yourself today? <br><br> -->
      </div>
      <!-- <div class="row mt-2">
        <div class="col-5 text-left">
        <div class="btn" style="background:#df4e61;color:#fff1ed;" onclick="$('.cke_editable cke_editable_themed cke_contents_ltr')[0].innerHTML += ('Self Reflection  <br>' + $('.self_reflection_content')[0].innerHTML)">Add to Space</div>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-right">
          <div class="btn" style="background:#df4e61;color:#fff1ed;" data-toggle="modal" data-target="#self_reflection" >Back to Self</div>
        </div>
      </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade m-2" id="gratitude" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Gratitude</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-2" style="font-size: 1.10rem">
          <div class="gratitude_content">
        1. What’s something that you’re looking forward to?<br>
        2. What’s a simple pleasure that you’re grateful for?<br>
        3. Write about something you are grateful for with your work or personal life. <br>
        4. Remember a success you had and write a thank-you speech describing who helped you reach it. <br>
        5. Describe your favorite person and list all of that person’s good qualities.<br>
        6. Write about something someone else did that made you happy. <br>
        <!-- Describe your favourite hobby<br> -->
        <!-- Look around the room and write about everything you see that you’re grateful for.<br> -->
        7. Write about 3 things you’re grateful for today.  <br><br>
      </div>
      <!-- <div class="row mt-2">
        <div class="col-5 text-left">
        <div class="btn font-weight-bold" style="background:#df4e61;color:#fff1ed;" onclick="$('iframe')[1].innerHTML +=  (' Gratitude <br>' + $('.gratitude_content')[0].innerHTML )">Add to Space</div>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-right">
          <div class="btn font-weight-bold" style="background:#df4e61;color:#fff1ed;" data-toggle="modal" data-target="#gratitude">Back to Self</div>
        </div>
      </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade m-2" id="self_love" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Self Love</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-2" style="font-size: 1.10rem">
          <div class="self_love_content">
        1. Write down three of your greatest strengths. Give actions, behaviours and accomplishments.<br>
        2. List three things or people you are grateful for in your life.<br>
        3. Dream about your perfect day. Describe what you would do, who you would be with, and what it would feel like.<br>
        4. Talk about a recent win and how it shows a positive quality or characteristic that you have.<br>
        5. Think of a recent challenge you were faced with and how you persisted despite the outcome.<br>
        6. Think about your meaningful relationships. Write about how they have impacted you as well as how you have affected them.<br>
        7. Write about qualities that make you unique<br>
        8. What is your ideal future? Include skills and attributes to places and people.<br><br>
      </div>
      <!-- <div class="row mt-2">
        <div class="col-5 text-left">
        <div class="btn font-weight-bold" style="background:#df4e61;color:#fff1ed;" onclick="$('iframe')[1].innerHTML +=  (' Self Love <br>' + $('.self_love_content')[0].innerHTML )">Add to Space</div>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-right">
          <div class="btn font-weight-bold" style="background:#df4e61;color:#fff1ed;" data-toggle="modal" data-target="#self_love">Back to Self</div>
        </div>
      </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade m-2" id="random" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Random</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-2" style="font-size: 1.10rem">
          <div class="random_content">
        1. Write a letter to your teenage self.<br>
        2. Make a bucket list of the things you want to do.<br><br>
      </div>
      <!-- <div class="row mt-2">
        <div class="col-5 text-left">
        <div class="btn font-weight-bold" style="background:#df4e61;color:#fff1ed;" onclick="$('iframe')[1].innerHTML += $('.random_content')[0].innerHTML">Add to Space</div>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-right">
          <div class="btn font-weight-bold" style="background:#df4e61;color:#fff1ed;" data-toggle="modal" data-target="#random">Back to Self</div>
        </div>
      </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade m-2" id="anxiety" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Anxiety</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-2" style="font-size: 1.10rem">
          <div class="anxiety_content">
        1. Without thinking twice, write down everything that's on your mind.<br>
        2. Finish the sentence "Right now, I am ..", then finish the sentence "I want to be ..".<br>
        3. If something is making you anxious, what triggered it?<br>
        4. What am I holding onto that I need to release? How can I turn those it into something positive?
        5. Choose one problem that has been causing you anxiety lately, and ask yourself questions about it, like a friend.
           Ask supportive and encouraging questions, and answer them with complete honesty.<br>
        6. What is working perfectly in my life right now, despite any adversity I may be facing?<br>
        7. What are some things I look forward to?<br>
        8. What would it look like to resolve the issues I’m facing? How would I act, think and feel?<br><br>
      </div>
      <!-- <div class="row mt-2"><br>
        <div class="col-5 text-left">
        <div class="btn font-weight-bold" style="background:#df4e61;color:#fff1ed;" onclick="$('iframe')[1].innerHTML +=('Anxiety <br>' + $('.anxiety_content')[0].innerHTML)">Add to Space</div>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-right">
          <div class="btn font-weight-bold" style="background:#df4e61;color:#fff1ed;" data-toggle="modal" data-target="#anxiety">Back to Self</div>
        </div> -->
      </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script>
    

    var HttpClient = function() {

      this.get = function(aUrl, aCallback) {

          var anHttpRequest = new XMLHttpRequest();
          anHttpRequest.onreadystatechange = function() { 
              if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                  aCallback(anHttpRequest.responseText);
          }

          anHttpRequest.open( "GET", aUrl, true );            
          anHttpRequest.send( null );
      }
    }

    function updatePosts(index) {    
      
      $('.message_saving').removeClass('d-none')

      var client = new HttpClient();
      var content = $('#'+index)[0].innerHTML
      client.get('/updatePosts?id='+index+'&content='+content, function(response) {
          console.log(response)
      });

      $('.message_saving').addClass('d-none')
      $('.message_saved').removeClass('d-none')

    }

    function deletePost(index) {    

      var client = new HttpClient();
      var content = $('#'+index)[0].innerHTML
      client.get('/deletePost?id='+index, function(response) {
          console.log(response)
          window.location.reload();
      });


    }

    function updateMessages(){

      $('.message_saving').addClass('d-none')
      $('.message_saved').addClass('d-none')

    }


  </script>


  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
  
</body>

</html>