

<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment-with-locales.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css" />
<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
  <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
  <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
  <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>
  <link href="static/css/sb-admin-2.css" rel="stylesheet">

  <!-- Page level plugins -->
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css" />

<script src="static/vendor/chart.js/Chart.min.js"></script>
<script type='text/javascript'>

// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function show_home(){

  $('.welcome').removeClass('d-none')
  $('.info').addClass('d-none')

}


function show_chart(id, scores, labels, username, last_post, num_posts, streak) {

  $('.welcome').addClass('d-none')
  $('.info').removeClass('d-none')

  $('.username')[0].innerHTML = username
  $('.user_description')[0].innerHTML = 'Here is an overview of ' + username+ "'s thoughts in the past few days"
  $('.total_entries')[0].innerHTML = num_posts
  $('.last_entry')[0].innerHTML = last_post
  $('.streak')[0].innerHTML = streak


  var ctx = document.getElementById("chart");
  var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          label: "Emotion Score",
          lineTension: 0.3,
          backgroundColor: "rgba(78, 115, 223, 0.05)",
          borderColor: "rgba(78, 115, 223, 1)",
          pointRadius: 3,
          pointBackgroundColor: "rgba(78, 115, 223, 1)",
          pointBorderColor: "rgba(78, 115, 223, 1)",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
          pointHoverBorderColor: "rgba(78, 115, 223, 1)",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: scores,
        }],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
          }
        },
        scales: {
          xAxes: [{
            time: {
              unit: 'date'
            },
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 7
            }
          }],
          yAxes: [{
            ticks: {
              maxTicksLimit: 10,
              padding: 10,
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
        legend: {
          display: false
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: '#6e707e',
          titleFontSize: 14,
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: 'index',
          caretPadding: 10,
        }
      }
    });
  }

</script>

<link href="static/css/sb-admin-2.css" rel="stylesheet">

<body id="page-top">

  <div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-address-book" aria-hidden="true"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> MindPal </div>
      </a>


      <hr class="sidebar-divider my-0">

      <li class="nav-item">
        <a class="nav-link" onclick="show_home()">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>

      <hr class="sidebar-divider my-0">


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-user"></i>
          <span>Users</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Users:</h6>

            {% for user in user_list %}
              <a class="collapse-item" onclick="show_chart({{loop.index}}, {{scores[loop.index-1]}}, {{labels[loop.index-1]}}, '{{user_list[loop.index-1]}}', '{{last_post[loop.index-1]}}', '{{num_posts[loop.index-1]}}', {{streak[loop.index-1]}})">{{user}}</a>
            {% endfor%}

          </div>
        </div>
      </li>

      <hr class="sidebar-divider my-0">

      <li class="nav-item">
        <!-- <a class="nav-link" href="/charts"> -->
          <!-- <i class="fas fa-fw fa-chart-area"></i> -->
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </li>
  
    </ul>


    <div id="content-wrapper" class="d-flex flex-column">

          <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="/logout">Logout</a>
              </div>
          </div>
          </div>
        </div>

      <div class="welcome container">

        <div class="d-sm-flex align-items-center justify-content-between m-4">
          <h1 class="h3 mb-0 text-gray-600">Trusted User Dashboard</h1>
        </div>
        
        <div class="row shadow-lg mt-5">

          <div class="col-md-6 col-12 text-center p-5">
            <div class="display-4 text-gray-900 m-2"> Hey, {{username}}! </div>
            <div class="display-4 text-gray-600 m-5">
              Check up on your loved ones
            </div>
          </div>

          <div class="col-md-6 col-12">
            <img src="static/img/trusted-users.gif" class="img-fluid">
          </div>

        </div>

      </div>

      <div class="container info mt-5 d-none">

        <div class="mb-2 text-gray-800 username h1"></div>
        <div class="mb-4 h5 user_description"></div>

          <div class="row graph_rows">

            <div class="col-lg-4">

              <div class="row mb-5">

                <div class="card border-left-primary shadow w-100 h-100 py-2 mt-4">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Entries</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 total_entries"></div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-angle-double-right fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row mb-5">

                <div class="card border-left-warning shadow w-100 h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Last Entry</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 last_entry"></div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-angle-double-right fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


              <div class="row mb-5">

                <div class="card border-left-success shadow w-100 h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Current Streak</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 streak"></div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-angle-double-right fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>

            <div class="col-lg-8">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Overview of the last 7 days</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="chart"></canvas>
                  </div>
                  <hr>
                </div>
              </div>
            </div> 
          </div>

          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>MindPal - 2021</span>
              </div>
            </div>
          </footer>
  
      </div>
      
    </div>


  </div>
</body>

</html>
